*{
	box-sizing: border-box;
	 /*outline: 2px solid rgba(200,0,0,.1);*/
}

body{
	margin: 0;
 font-family: avenir, sans-serif;
 link-color: #ff5a5f;
 background: #dcdcdc;
}
img{
	border-radius: 50%;
	width: 50px;
	/*position: relative;*/
	vertical-align: middle;
	padding-left: 15px;

}

.contenedor-principal{
	max-width: 800px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}
 .contenedor-superior{
	  width: 100%;
	  /*display: block;*/
	 /* background: #000000;*/
  }
 .contenedor-intermedio{
 	 width: 100%;
 	 /*display: block;*/
 	/* background: #000000;*/
  }
	.contenedor-inferior{
		 width: 100%;
		 /*display: block;*/
		/* background: #000000;*/
	 }
	  .contenedor-titulo{
			width: 100%;
			margin-right: 20px;
			margin-left: 35px;
			padding-right: 55px;
		}
		.contenedor-col{
			display: flex;
		 flex-wrap: wrap;
		 align-items: flex-start;
		 margin: 0;
		}
		.col-izq{
			width: 50%;
		}
		.col-der{
			width: 50%;
		}
		.column-izq{
			width: 30%;
			margin: 15px;
		}
		.column-der{
			width: 60%;
			margin: 15px;
		}
		.contenedor{
			width: 100%;
		}
		.contenedor-column{
			width: 100%;
			margin: 10px;
			margin-left: 15px;
			background: #ffffff;
		}
	 		ti{
				font-size: 12px;

			}
			ta{
				font-size: 15px;
				font-weight: bold;
			}
			to{
				font-size: 12px;
			}
			t3{
				font-size: 10px;
			}
			 .titulo{
				 align-items: center;
				 height: 35px;
				 padding-bottom: 60px;
				 margin-bottom: 30px;
			 }

			 .total{
				 background: #dcdcdc;
				margin: 15px;

			 }
			 .rojo{
				 color: #ff0000;
			 }
