*{
	box-sizing: border-box;
}

h1{
	font-style: oblique;
}

.font{
	font-family: futura;
	font-family: sans-serif;
	text-align: center;
}

.box{
	display: inline-block;
	margin-top: 20px;
}

ca{
	background: rgb(205, 92, 92);
	margin: 5px;
	padding: 5px;
}
